.navbar-fixed-top {
  background: rgb(0, 0, 0);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
}
.cart-icon {
  margin-left: 75vw;
  margin-top: -7vw;
}
.logo {
  margin-right: 75vw;
}
